<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统登录</title>
    <link rel="stylesheet" href="{$Think.config.PUBLIC_URL}/css/style.css">
    <script src="{$Think.config.PUBLIC_URL}/js/jquery-1.11.3.min.js"></script>
    <script src="{$Think.config.PLUG_URL}/jquery.form.js"></script>    
    <script src="{$Think.config.PLUG_URL}/layer-v2.4/layer/layer.js"></script>
    <script src="{$Think.config.PUBLIC_URL}/js/login.js"></script>
</head>
<body>
    <div class="login">
        <h2>天道教育活动管理平台</h2>
        <form action="/admin/Login/do_login" method="POST" onSubmit="return false;">
            <p class="box" style="display:none;">！无效的用户名或密码</p>
            <dl>
                <dt>登录名：</dt>
                <dd><input class="name" type="text" name="name" placeholder="请输入用户名或邮箱账号" /></dd>
            </dl>
            <dl>
                <dt>密码：</dt>
                <dd><input type="password" name="password"/></dd>
            </dl>
            <dl class="check">
                <dt><input type="checkbox" />记住我</dt>
            </dl>
            <button class="submit" type="button" value="登录" />登录</button>
        </form>
    </div>
</body>

</html>